<div class="row">
<div class="painel">
<div class="contanier">
  <div id="cabecalho">
    SEU VOTO PARA
  </div>

  <div id="cargo">
    <span *ngIf="true">{{cargoDeputadoFederal}}</span>
    <span *ngIf="false">{{cargoDeputadoEstadual}}</span>
    <span *ngIf="false">{{cargoSenador}}</span>
    <span *ngIf="false">{{cargoPresidente}}</span>
  </div>

  <div *ngIf="!deputadoFederal" class="numeros">
    <span *ngIf="true" id="numero1" ><input [value]="testee3" class="input pisca" maxlength="1"></span>
    <span *ngIf="true" id="numero1" ><input [value]="testee2" class="input pisca" maxlength="1"></span>
    <span *ngIf="true" id="numero1" ><input [value]="testee1" class="input pisca" maxlength="1"></span>
  </div>
</div>
</div>

<div class="botoes">
  <div class="imagem"><img src="../../../assets/img/eleitoral.png" alt="logo"></div>
  <div class="listaBotoes">
    <div class="botao0">
      <button (click)="listaNumeros('1')" mat-raised-button class="botaoNumerico" color="primary">1</button>
      <button (click)="listaNumeros('2')" mat-raised-button class="botaoNumerico" color="primary">2</button>
      <button (click)="listaNumeros('3')" mat-raised-button class="botaoNumerico" color="primary">3</button>
    </div>
    <div class="botao0">
      <button (click)="clickSom()" mat-raised-button class="botaoNumerico" color="primary">4</button>
      <button (click)="clickSom()" mat-raised-button class="botaoNumerico" color="primary">5</button>
      <button (click)="clickSom()" mat-raised-button class="botaoNumerico" color="primary">6</button>
    </div>
    <div class="botao0">
      <button (click)="clickSom()" mat-raised-button class="botaoNumerico" color="primary">7</button>
      <button (click)="clickSom()" mat-raised-button class="botaoNumerico" color="primary">8</button>
      <button (click)="clickSom()" mat-raised-button class="botaoNumerico" color="primary">9</button>
    </div>
    <div class="botao0">
      <button (click)="clickSom()" mat-raised-button class="botaoNumerico" color="primary">0</button>
    </div>

    <div class="botao2">
      <button (click)="branco()" mat-raised-button class="botao3" style="background-color: white;">BRANCO</button>
      <button (click)="corrige()" mat-raised-button class="botao3" style="background-color: orange;">CORRIGE</button>
      <button (click)="confirma()" mat-raised-button class="botao3" style="height: 73px; background-color: green;">CONFIRMA
      </button>
    </div>
  </div>

</div>

</div>



