<div class="contanier">
  <div id="cabecalho">
    SEU VOTO PARA
  </div>

  <div id="cargo">
    <span *ngIf="true">Deputada(o) Federal</span>
    <span *ngIf="false">Deputada(o) Estadual</span>
    <span *ngIf="false">Senadora(or)</span>
    <span *ngIf="false">Presidenta(e)</span>
  </div>

  <div class="numeros">
    <span *ngIf="true" id="numero1" ><input class="input" maxlength="1"></span>
    <span *ngIf="true" id="numero2" ><input class="input" maxlength="1"></span>
    <span *ngIf="true" id="numero3" ><input class="input" maxlength="1"></span>
    <span *ngIf="true" id="numero4" ><input class="input" maxlength="1"></span>
    <span *ngIf="false"id="numero5" ><input class="input" maxlength="1"></span>
  </div>
</div>

<!-- <div class="botoes">

</div> -->

