<div class="contanier">
  <div class="imagem"><img src="../../../assets/img/eleitoral.png" alt="logo"></div>
  <div class="listaBotoes">
    <div class="botao0">
      <button mat-raised-button class="botaoNumerico" color="primary">1</button>
      <button mat-raised-button class="botaoNumerico" color="primary">2</button>
      <button mat-raised-button class="botaoNumerico" color="primary">3</button>
    </div>
    <div class="botao0">
      <button mat-raised-button class="botaoNumerico" color="primary">4</button>
      <button mat-raised-button class="botaoNumerico" color="primary">5</button>
      <button mat-raised-button class="botaoNumerico" color="primary">6</button>
    </div>
    <div class="botao0">
      <button mat-raised-button class="botaoNumerico" color="primary">7</button>
      <button mat-raised-button class="botaoNumerico" color="primary">8</button>
      <button mat-raised-button class="botaoNumerico" color="primary">9</button>
    </div>
    <div class="botao0">
      <button mat-raised-button class="botaoNumerico" color="primary">0</button>
    </div>

    <div class="botao2">
      <button mat-raised-button class="botao3" color="warn">BRANCO</button>
      <button mat-raised-button class="botao3" color="warn">CORRIGE</button>
      <button mat-raised-button class="botao3" color="warn">CONFIRMA</button>
    </div>
  </div>

</div>
